* {
	font-family: "Courier New";
}
h1 {
	font-weight: normal;
	text-align: center;
}
p {
	text-align: center;
}
div {
	text-align: center;
	margin: 5px;
}
hr {
	width: 150px;
	border-top: 2px solid purple;
}
button {
	background-color: purple;
	color: white;
	height: 35px;
	width: 175px;
	font-weight: bold;
}
input {
	width: 300px;
}
select {
	width: 625px;
}
textarea {
	width: 625px;
}